{% extends "layouts/app.twig" %}

{% block title %}{{ __('credits.title') }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ __('credits.title') }}</h1>
        <div class="row">
            {% for title, credit in credits %}
                <div class="col-md-4">
                    <h2>{{ __(title) }}</h2>
                    {{ __(credit)|markdown }}
                </div>
            {% endfor %}

            <div class="col-md-4">
                <h2>{{ __('credits.source') }}</h2>
                <p>{{ __('credits.version', [version])|markdown }}</i></p>
                <p>
                    {{ __('credits.credit')|markdown }}
                </p>
                <p>
                    {{ __('credits.contributors')|markdown }}
                </p>
                <p>
                    LB: {{ __('credits.lb') }}<br>
                    Webserver: {{ __('credits.webserver') }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
